body {
  background-color: royalblue;
  text-align: center
}

#encrypt{
  background-image: linear-gradient(to right, darkorange, purple)
}
#decrypt{
  background-image: linear-gradient(to right, darkorange, purple)
}